
.myComponent {
    color: blue;
    font-size: 16px;
    padding: 20px;
    background-color: lightgray;
  }
  
  .myComponent h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .myComponent p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .secondaryTitle {
    color: red;
    font-size: 18px;
    text-decoration: underline;
  }
  
  .button {
    background-color: #fcd34d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }


  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginContent {
    width: 300px; /* Adjust this width as needed */
  }